.movies-cards-list_empty {
    padding: 80px 70px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movies-cards-list_empty__not-found {
    font-family: Inter, sans-serif;
    font-size: 32px;
    color: #fff;
}

.movies-cards-list {
    padding: 80px 70px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.show-more-button {
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    border: none;
    max-width: 100%;
    background-color: #2F2F2F;
    height: 36px;
    margin: 0 70px 80px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {

    .movies-cards-list_empty {
        padding: 80px 30px;
    }

    .movies-cards-list {
        padding: 80px 30px;
        grid-template-columns: repeat(2, 1fr);
    }
    .show-more-button {
        margin: 0 30px 80px 30px;
    }
}

@media screen and (max-width: 425px) {
    .movies-cards-list_empty {
        padding: 50px 10px 80px;
    }
    
    .movies-cards-list {
        padding: 50px 10px 80px;
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

@media screen and (min-width: 425px) and (max-width: 560px) {

    .movies-cards-list_empty {
        padding: 50px 25px 80px;
    }

    .movies-cards-list {
        padding: 50px 25px 80px;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .movies-cards-list_empty__not-found {
        font-size: 22px;
    }
}