.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
}

.profile__wrapper {
    font-family: 'Inter', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 410px;
}

.profile__title {
    font-family: inherit;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.profile__info {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 120px 0 220px 0 ;
    font-size: 11px;
}

.profile__info_line {
    font-family: inherit;
    font-style: normal;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.info_line__header {
    font-family: inherit;
    font-weight: 500;
    display: block;
    text-align: left;
    padding: 0;
    margin: 0;
    max-width: 49%;
}

.info_line__input {
    caret-color: #3DDC84;
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: inherit;
    font-weight: 400;
    display: block;
    direction: ltr;
    text-align: end;
    padding: 0;
    max-width: 49%;
}

.info_line__input::placeholder {
    color: #fff;
}

.info_line__input:focus {
    outline: none;
}

.line__divider {
    margin-bottom: 15px;
    padding: 0;
    width: 100%;
    height: 1px;
    background-color: #424242;
}

.info_line__error {
    padding: 0;
    margin: 10px 0 0;
    font-size: 10px;
    line-height: 1;
    color: #EE3465;
    min-height: 15px;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
}

.profile__button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #fff;
    width: fit-content;
    align-self: center;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

.profile__button:last-child {
    margin-top: 15px;
    color: #EE3465;
}

@media screen and (max-width: 475px) {
    .profile__wrapper {
        width: 100vw;
        padding: 0 30px;
    }

    .profile__button {
        font-size: 12px;
    }

    .profile__buttons {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
