.about-project {
  width: 100%;
  max-width: 1440px;
  padding: 110px 70px 141px;
}

.about-project__articles {
  display: flex;
  padding: 0;
  margin: 0;
}

.article {
  padding: 0;
  margin: 70px 0 0;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  list-style: none;
  max-width: 550px;
  width: 100%;
}

.article:first-child {
  margin-right: 40px;
}

.article__title {
  font-size: 20px;
  letter-spacing: -0.04em;
  font-family: inherit;
  margin-bottom: 30px;
}

.article__text {
  font-size: 14px;
}

.about-project__line {
  display: flex;
  flex-direction: row;
  height: 36px;
  width: 100%;
  margin-top: 110px;
  padding: 0;
}

.line {
  margin: 0;
  padding: 0;
  width: 75%;
  height: 36px;
  background-color: #303030;
}

.line__colored {
  width: 25%;
  background-color: #3DDC84;
}

.line__text {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line__colored::after
{
  margin-top: 14px;
  display: block;
  width: 100%;
  color: #8B8B8B;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  content: 'Back-end';
}

.line::after
{
  margin-top: 14px;
  display: block;
  width: 100%;
  color: #8B8B8B;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  content: 'Back-end';
}