@import url('./vendor/normalize.css');
@import url('./vendor/hover-effect.css');

body,
body::after,
body::before {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #202020;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*outline: 1px red solid;*/
}

